.HomeWrapper {
  background-color: #123456;
  color: white;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.linkdiv {
  text-decoration: none;
  color: white;
}
